* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 102vh;
    display: flex;
}

.navbar {
    border: 2px solid rgb(0, 0, 0);
    border-radius: 2%;
    box-shadow: 5px 5px 5px #2865a33b;
    width: 80px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    padding: 10px;
}

/* Icons Start */
.bottom-icons {
    display: flex;
    flex-direction: column;

    margin-bottom: 60px;
}

.website-logo {
    border: 2px solid white;
    border-radius: 25%;

    margin-top: 15px;
    padding: 0.25rem;
}

.logo {
    width: 40px;
    height: 40px;
    color: whitesmoke;
}

.exit {
    width: 25px;
    height: 25px;
    margin-bottom: 15px;

}

.members {
    width: 25px;
    height: 25px;
    margin-bottom: 60px;
}

/* Icons End */

.button-move:hover {
    transform: translateY(-5px);
}

/* Contacts List Start */
.contacts-list-container {
    width: 40%;
    border: 1px solid #385699;
    background-color: #f9fbfd;

    display: flex;
    flex-direction: column;
}

.contacts-header {
    display: flex;
    justify-content: space-between;

    border-bottom: 2px solid #768dc0;
    box-shadow: 10px 2px 5px #2865a33b;
    height: 10%;
}

.contact-body {
    display: flex;
    flex-direction: column;
}

.contacts-title {
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 30px;
    width: 100%;
    min-height: 93px;
}

.contacts-navigation {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.pagination-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-left: 25px;
    margin-right: 25px;
    
}


.next-page-container {
    display: flex;
    justify-content: flex-end;
}

.number-navigation {
    display: flex;
    gap: 1rem;
}

.numbers {
    margin-bottom: 7px;
}

.page-link {
    display: flex;
    align-items: center;
}

.page-numbers {
    margin-bottom: 7px;
    font-size: 15px;
}

.list-button {
    margin-top: 25px;
    border-radius: 50%;
}

.list-nav-buttons {
    border: 50%;
}

.page-nav {
    display: flex;
    padding: 5px;
    align-items: center;
    border: 2px solid black;
    border-radius: 0.5rem;
}

.toggle-button {
    border-radius: 0.3rem;
    padding: 5px;
    border: 1px solid black;
    height: 50%;
}

.contacts-name {
    display: flex;
    text-align: center;
    font-size: larger;
    gap: 0.75rem;
    color: black;
}

.pages-display {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    border: 2px solid black;
    gap: 0.5rem;
    color: black;
    border-radius: 2rem;
}

.number-display {
    font-size: 20px;
}


.search-form {
    display: flex;
    gap: 1rem;
    padding: 1.2rem;
}

.search-bar {
    flex: 1;
    padding: 2px;
    border-radius: 5px;
    border:2px solid #9ca5b9;
}

.submit-button {
    width: 30px;
    height: 30px;
}

/* Contacts List End */


.user-name-container {
    display: flex;
    gap: 1rem;
    margin-right: 3rem;
    margin-top: 8px;
    padding: 10px;
    border-radius: 1rem;
}

.user_name_val {
    margin-top: 4px;
}

.user-header {
    height: 10%;
    border-bottom: 2px solid #768dc0;
    border-radius: 2px;
    box-shadow: 15px 5px 5px #2865a33b;
    background-color: #f9fbfd;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.add-container {
    display: flex;
    cursor: pointer;

}


.add-contact {
    margin-left: 25px;
}

.user-profile {
    margin-right: 25px;
}

.user-profile:hover {
    cursor: pointer;
}

.profile-image {
    width: 40px;
    height: 40px;
    background-color: white;
}

.add-image {
    width: 35px;
    height: 35px;
}

.modal-header {
    display: flex;
    justify-content: space-between;
}

.exit-header {
    display: flex;
    justify-content: flex-end;
}

.close-img {
    width: 30px;
    height: 30px;
}

.is-invalid {
    border-color: #dc3545;
    border: 1px solid;
}

.is-invalid~.invalid-feedback {
    display: block;
}

.is-valid {
    border: 1px solid green;
}

.button-container {
    display: flex;
    justify-content: center;
}

.list-group {
    display: flex;
    margin: 1.1rem;
    justify-content: flex-start;
    text-align: center;
    gap: 0.4rem;
    max-height: 850px;
    overflow-y: scroll;
    border: 2px solid #385699;
}

.contact-info {
    display: flex;
    padding: 1rem;
    border-radius: 0.5rem;
    gap: 2rem;
}

.contact-name {
    display: flex;
    flex-direction: column;
    text-transform: capitalize;

}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    object-fit: cover;
}

.avatar-container {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 25%;
    object-fit: cover;
    object-position: center;
}

.avatar-large {
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: center;
}

.selected {
    border: 1px solid green;
}

.contact-description-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;

    background: linear-gradient(-45deg, #23a6d5, #a4c7df, #92b4db, #b9abf5);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

.contact-desc-container {
    display: flex;
    flex-direction: column;
    background-color: #f9fbfd;

    border: 2px solid #385699;
    box-shadow: 15px 5px 5px #2865a33b;

    width: 85%;
    height: 85%;

    padding: 1.5rem;
    border-radius: 1rem;
}

.contact-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
    padding: 2rem;
}

.avatar-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.contact-header-edit {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    color:white;
}

.delete-container {
    display: flex;
    flex-direction: column;
}

.contact-body {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 1.2rem;
}

.edit-btn {
    display: flex;
    justify-content: center;
    gap: 1rem;
    background-color: #385699;
    border: 2px solid black;
    padding: 2rem;
    width: 100%;
    
}

.delete-btn {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.selected {
    border: 1px solid #385699;
    background-color: lightgrey;
}

.bio {
    display: flex;
    flex-direction: column;
}

.edit-icon {
    width: 30px;
    height: 30px;
}

.margin-top {
    margin-top: 25px;
}

.btn-primary {
    background-color: #5b8bf1;
    border-radius: 1rem;
    padding: 0.25rem;
}

.delete-btn:hover {
    cursor: pointer;
    transform: translateY(-5px);
}

.btn-primary:hover {
    transform: translateY(-5px);
}

.contact-description {
    flex: 1;
    display: flex;
    flex-direction: column;
    border: 2px solid #768dc0;
}

.list-button {
    margin-top: 25px;
    border-radius: 50%;
}

.list-group-item {
    border-radius: 1rem;
}

.list-group-item:hover {
    border: #385699 1.5px solid;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.editable-field{
    border: #38579975 1px solid;
    border-radius: 0.5rem;
}



@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}