* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
}

.navbar {
    border: 1px solid black;
    width: 80px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    padding: 10px;

}

/* Icons Start */
.bottom-icons {
    display: flex;
    flex-direction: column;

    margin-bottom: 60px;
}

.website-logo {
    border: 1px solid black;
    border-radius: 25%;

    margin-top: 15px;
    padding: 0.25rem;
}

.logo {
    width: 40px;
    height: 40px;
    color: whitesmoke;
}

.exit {
    width: 25px;
    height: 25px;
    margin-bottom: 15px;

}

.members {
    width: 25px;
    height: 25px;
    margin-bottom: 60px;
}

/* Icons End */

.button-move:hover {
    transform: translateY(-5px);
}

/* Contacts List Start */
.contacts-list-container {
    width: 40%;
    border: 1px solid black;
    background-color: whitesmoke;

    display: flex;
    flex-direction: column;
}

.contacts-header {
    display: flex;
    justify-content: space-between;

    border-bottom: 1px solid slategray;
    height: 10%;
}

.contacts-toggle {
    display: flex;
    width: 50%;

    justify-content: flex-start;
    margin-left: 25px;
    gap: 1.6rem;
}

.contacts-navigation {
    display: flex;
    width: 50%;

    justify-content: flex-end;
    align-items: center;
    gap: 12px;
}

.list-button {
    margin-top: 25px;
}

.list-nav-buttons {
    border: 50%;
}

.page-nav {
    display: flex;
    padding: 5px;
    align-items: center;
    border: 1px solid black;
    border-radius: 0.5rem;
    margin-right: 25px;

    height: 50%;
}

.toggle-button {
    border-radius: 0.3rem;
    padding: 5px;
    border: 1px solid black;
    height: 50%;
}

.contacts-name {
    margin-top: 33px;
    font-size: larger;
}

.search-form {
    display: flex;
    gap: 1rem;
    padding: 1.5rem;
}

.search-bar {
    flex: 1;
    padding: 2px;
}

.submit-button {
    width: 30px;
    height: 30px;
}
/* Contacts List End */
.contact-description {
    flex: 1;
    display: flex;
    flex-direction: column;
    border: 1px solid black;

    
}

.user-header {
    height: 10%;
    border-bottom: 1px solid slategray;
    background-color: white;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.add-container {
    display: flex;
    cursor: pointer;
    
}


.add-contact {
    margin-left: 25px;
}

.user-profile {
    margin-right: 25px;
}

.user-profile:hover {
    cursor: pointer;
}

.profile-image {
    width: 40px;
    height: 40px;
    background-color: white;
}

.add-image {
    width: 35px;
    height: 35px;
}

.modal-header {
    display: flex;
    justify-content: space-between;
}

.exit-header {
    display: flex;
    justify-content: flex-end;
}

.close-img {
    width: 20px;
    height: 20px;
}

.is-invalid {
    border-color: #dc3545;
    border: 1px solid;
}

.is-invalid~.invalid-feedback {
    display: block;
}

.is-valid {
    border: 1px solid green;
}

.button-container {
    display: flex;
    justify-content: center;
}

.list-group {
    display: flex;
    margin: 1.5rem;
    justify-content: center;
    gap: 1rem;
}

.contact-info {
    display: flex;
    padding: 1rem;
    border-radius: 0.5rem;
    gap: 2rem;
}

.contact-name {
    display: flex;
    flex-direction: column;
    text-transform: capitalize;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.avatar-container {
    border: 1px solid green;
    border-radius: 25%;
    object-fit: cover;
    object-position: center;
}

.avatar-large {
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: center;
}

.selected {
    border: 1px solid green;
}

.contact-description-header {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid green;
    flex: 1;

}

.contact-desc-container {
    display: flex;
    flex-direction: column;

    border: 2px solid black;

    width: 85%;
    height: 75%;

    padding: 1.5rem;
    border-radius: 1rem;
}

.contact-header {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding: 2rem;
}

.contact-header-edit {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.contact-body {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 2rem;
}

.edit-btn {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.selected {
    border: 1px solid green;
    background-color: lightgrey;
}

.bio {
    display: flex;
    flex-direction: column;
}

.margin-top {
    margin-top: 25px;
}

.btn-primary {
    background-color: lavender;
    border-radius: 1rem;
    padding: 0.25rem;
}

.btn-primary:hover {
    transform: translateY(-5px);
}


