body {
    height: 100vh;
    background-color: lightblue;
}

.navbar {
    height: 100px;
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
    border-bottom: 1px solid black;
    display: flex;
    border: 1px solid pink;
    justify-content: space-between;
}

.logo {
    width: 250px;
    height: 250px;
    margin-left: -50px;
}

.nav-links {
    display:flex;
    gap: 2rem;
    align-items: baseline;
    margin-bottom: 30px;
}
.btn {
    text-transform: uppercase;
}

.navbar>* {
    margin-top: -70px;
}

.heading {
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
}

.carousel {
    flex: 1;
}

.carousel-item img{
    max-width: 676px;
    max-height: 447px;
    object-fit: cover;
}
.heading-list {
    flex-direction: column;
    text-align: center;
}
.description {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 75vh;
    flex: 1;
}

.footer {
    text-align: center;
}


.company-input {
    display: flex;
    margin-bottom: 0px;
}

.company-1-input {
    display: flex;
    border: 1px solid black;
}

.company-1-input > * {
    border: 1px solid red;
}

.github-logo {
    width: 25px;
    height: 25px;
}


